// Import the Poppins font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
// All code inside the #main-wrapper scope only applies to the index.html file.
#main-wrapper {
  background: #d3d3d3;
  margin: 0;
  font-family: "Poppins";

  nav {
    background: none;
    position: unset;
    height: auto;
    padding: 0;
    margin: .5em;

    ul {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      margin: 0;
    }

    a {
      color: black;
      font-size: 1em;
      padding: 0.1em 1em;
      text-decoration: none;
    }

    #current a {
      font-weight: bold;
      color: white;
      background-color: blue;
      border: 2px solid blue;
      border-radius: 5em;
      margin-top: -0.2em;
    }
  }

#port-frame {
    width: 100%;
    height: 100%;
}
}
// Optionally, code can be added below to apply styles to the other html files or a separate css file can be made.